define('DB_NAME', '{{ serverlab_db.dbname }}');
define('DB_USER', '{{ serverlab_db.dbusername }}');
define('DB_PASSWORD', '{{ serverlab_db.dbpassword }}');
define('DB_HOST', '{{ serverlab_db.dbhost }}');
